// iframe{
//   height: 100%;
//   width: 100%;
// }
// .chessboard-frame{
//   padding-top: 32px;
//   height: 80vh !important;
// }

.active-player {
  color: green;
  font-weight: 600;
  font-size: 30px;
  text-decoration: underline;
}
